parser: babel-eslint
extends: airbnb

env:
  browser: true
  mocha: true

rules:
  camelcase: 0
  comma-dangle: 0
  semi: [2, always]
  no-underscore-dangle: 0
  object-curly-spacing: [2, always]
  react/no-danger: 0
  react/forbid-prop-types: 0
  react/jsx-filename-extension: 0

parserOptions:
  ecmaFeatures:
    experimentalObjectRestSpread: true